.navigator
  .navigator__history
    button.navigator__history-btn
      img(src="img/ico_clock.png" alt="ico_clock").navigator__history-ico
  .navigator__search
    button.navigator__search-btn
      span.navigator__search-txt Search Ais
      img(src="img/ico_find.png" alt="ico_find").navigator__search-ico
  .navigator__help
    button.navigator__help-btn
      img(src="img/ico_help.png" alt="ico_help").navigator__help-ico