.sidebar
  .sidebar__header
    .sidebar__header-container
      .sidebar__header-name
        button.sidebar__header-title
          span.sidebar__header-title-txt Ais
          img(src="img/ico_arrow-down.png" alt="arrow").sidebar__header-title-ico
        .sidebar__header-subject
          .sidebar__header-subject-ico
          span.sidebar__header-subject-txt andrei-zhivotkov
      button.sidebar__header-create-btn
        img(src="img/ico_write.png" alt="new message").sidebar__header-create-ico
  .sidebar__kit
    .sidebar__kit-container
      .sidebar__kit-menu.sidebar__kit-menu--menu-top
        button.sidebar__kit-element
          img(src="img/ico_thread.png" alt="ico").sidebar__kit-element-ico
          span.sidebar__kit-element-txt Threads
        button.sidebar__kit-element
          img(src="img/ico_mention.png" alt="ico").sidebar__kit-element-ico
          span.sidebar__kit-element-txt Mentions & reaction
        button.sidebar__kit-element.sidebar__kit-element--btn-more
          img(src="img/ico_arrow2-down.png" alt="ico").sidebar__kit-element-ico
          span.sidebar__kit-element-txt Show more
      .sidebar__kit-menu
        button.sidebar__kit-element.sidebar__kit-element--main
          img(src="img/ico_arrow-down.png" alt="ico").sidebar__kit-element-ico
          span.sidebar__kit-element-txt Channels
          img(src="img/ico_plus.png" alt="ico").sidebar__kit-element-btn
        button.sidebar__kit-element.sidebar__kit-element--padding
          img(src="img/ico_sharp.png" alt="ico").sidebar__kit-element-ico
          span.sidebar__kit-element-txt general
        button.sidebar__kit-element.sidebar__kit-element--padding
          img(src="img/ico_sharp.png" alt="ico").sidebar__kit-element-ico
          span.sidebar__kit-element-txt questions
        button(disabled).sidebar__kit-element.sidebar__kit-element--padding
          img(src="img/ico_sharp.png" alt="ico").sidebar__kit-element-ico
          span.sidebar__kit-element-txt random
        button.sidebar__kit-element.sidebar__kit-element--padding
          img(src="img/ico_sharp.png" alt="ico").sidebar__kit-element-ico
          span.sidebar__kit-element-txt task1
        button.sidebar__kit-element.sidebar__kit-element--padding
          img(src="img/ico_lock.png" alt="ico").sidebar__kit-element-ico
          span.sidebar__kit-element-txt task2
      .sidebar__kit-menu
        button.sidebar__kit-element.sidebar__kit-element--main
          img(src="img/ico_arrow-down.png" alt="ico").sidebar__kit-element-ico
          span.sidebar__kit-element-txt Direct messages
          img(src="img/ico_plus.png" alt="ico").sidebar__kit-element-btn
        button.sidebar__kit-element.sidebar__kit-element--padding
          .sidebar__kit-element-ico.sidebar__kit-element-ico--direct.sidebar__kit-element-ico--online
          span.sidebar__kit-element-txt Slackbot
          img(src="img/ico_plus.png" alt="ico").sidebar__kit-element-btn.sidebar__kit-element-btn--rotate.sidebar__kit-element-btn--hidden
        button.sidebar__kit-element.sidebar__kit-element--padding
          .sidebar__kit-element-ico.sidebar__kit-element-ico--direct.sidebar__kit-element-ico--online
          span.sidebar__kit-element-txt andrei-zhivotkov (you)
          img(src="img/ico_plus.png" alt="ico").sidebar__kit-element-btn.sidebar__kit-element-btn--rotate.sidebar__kit-element-btn--hidden
        button.sidebar__kit-element.sidebar__kit-element--padding
          .sidebar__kit-element-ico.sidebar__kit-element-ico--direct.sidebar__kit-element-ico--offline
          span.sidebar__kit-element-txt ivanov-ivan-ivanovich
          img(src="img/ico_plus.png" alt="ico").sidebar__kit-element-btn.sidebar__kit-element-btn--rotate.sidebar__kit-element-btn--hidden
        button.sidebar__kit-element.sidebar__kit-element--padding
          .sidebar__kit-element-ico.sidebar__kit-element-ico--direct.sidebar__kit-element-ico--online
          span.sidebar__kit-element-txt petrov-petr-pertovich
          img(src="img/ico_plus.png" alt="ico").sidebar__kit-element-btn.sidebar__kit-element-btn--rotate.sidebar__kit-element-btn--hidden
        button.sidebar__kit-element.sidebar__kit-element--padding
          img(src="img/ico_plus.png" alt="ico").sidebar__kit-element-ico.sidebar__kit-element-ico--plus
          span.sidebar__kit-element-txt Invite people
          img(src="img/ico_plus.png" alt="ico").sidebar__kit-element-btn.sidebar__kit-element-btn--rotate.sidebar__kit-element-btn--hidden