.workspace
  .workspace__header
    .workspace__header-info
      .workspace__header-head
         img(src="img/ico_sharp.png" alt="ico").workspace__header-head-ico
         span.workspace__header-head-txt random
         button.workspace__header-head-btn
          img(src="img/ico_star.png" alt="ico").workspace__header-head-btn-ico
      .workspace__header-body
        button.workspace__header-body-element.workspace__header-body-element--members
          img(src="img/ico_users.png" alt="ico").workspace__header-body-element-img
          p.workspace__header-body-element-txt 634
        button.workspace__header-body-element.workspace__header-body-element--description
          p.workspace__header-body-element-txt Non-work banter and water cooler conversation
    button.workspace__header-btn
      img(src="img/ico_info.png" alt="ico").workspace__header-btn-ico
      span.workspace__header-btn-txt Details
  .workspace__body
    .workspace__body-message
      button.workspace__body-message-avatar-btn
        img(src="https://source.unsplash.com/random/36x36" alt="ava").workspace__body-message-avatar-img
      .workspace__body-message-gutter
        .workspace__body-message-head
          button.workspace__body-message-name-btn
            span.workspace__body-message-name andrei-zhivotkov
          button.workspace__body-message-time-btn
            span.workspace__body-message-time 3:12 PM
        p.workspace__body-message-text hey guys
        .workspace__body-message-reply
          button.workspace__body-message-reply-img-btn
            img(src="https://source.unsplash.com/random/24x24" alt="ava_small").workspace__body-message-reply-img
          button.workspace__body-message-reply-img-btn
            img(src="https://source.unsplash.com/random/24x24" alt="ava_small").workspace__body-message-reply-img
          button.workspace__body-message-reply-btn
            span.workspace__body-message-reply-time 4 replies
    .workspace__body-message
      button.workspace__body-message-avatar-btn
        img(src="https://source.unsplash.com/random/36x36" alt="ava").workspace__body-message-avatar-img
      .workspace__body-message-gutter
        .workspace__body-message-head
          button.workspace__body-message-name-btn
            span.workspace__body-message-name ivanov-ivan-ivanovich
          button.workspace__body-message-time-btn
            span.workspace__body-message-time 4:31 PM
        p.workspace__body-message-text Sometimes i write something smart
        .workspace__body-message-reply
          button.workspace__body-message-reply-img-btn
            img(src="https://source.unsplash.com/random/24x24" alt="ava_small").workspace__body-message-reply-img
          button.workspace__body-message-reply-img-btn
            span.workspace__body-message-reply-time 1 reply
    .workspace__body-message
      button.workspace__body-message-avatar-btn
        img(src="https://source.unsplash.com/random/36x36" alt="ava").workspace__body-message-avatar-img
      .workspace__body-message-gutter
        .workspace__body-message-head
          button.workspace__body-message-name-btn
            span.workspace__body-message-name petrov-petr-petrovich
          button.workspace__body-message-time-btn
            span.workspace__body-message-time 1:03 AM
        p.workspace__body-message-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque eu enim eget luctus. Sed augue felis, facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis eros sem, elementum consequat est consequat eu. Quisque aliquet a ipsum nec tincidunt. Nulla vitae rhoncus leo. Praesent dui sapien, bibendum quis tempus dictum, auctor ac dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at mauris porta, ullamcorper sem quis, lobortis sem. Donec sit amet aliquet dui, at varius est. Phasellus porttitor finibus neque vel vehicula. Duis in nulla egestas, dignissim elit at, imperdiet eros. Integer tristique posuere purus. Suspendisse placerat, quam vitae ullamcorper sollicitudin, dui ligula molestie massa, sit amet laoreet nibh ex vitae dui. Aenean laoreet pellentesque lacus, eget varius.
  .workspace__footer
    .workspace__footer-container
      button.workspace__footer-special-btn
        img(src="img/ico_special.png" alt="ico").workspace__footer-special-img
      input(type="text" placeholder="Message #random").workspace__footer-message
      button(disabled).workspace__footer-style-btn
        img(src="img/ico_text.png" alt="ico").workspace__footer-style-img
      button.workspace__footer-style-btn
        img(src="img/ico_mention.png" alt="ico").workspace__footer-style-img
      button.workspace__footer-style-btn
        img(src="img/ico_smile.png" alt="ico").workspace__footer-style-img
      button.workspace__footer-style-btn
        img(src="img/ico_clip.png" alt="ico").workspace__footer-style-img
      button(disabled).workspace__footer-style-btn
        img(src="img/ico_send.png" alt="ico").workspace__footer-style-img.workspace__footer-style-img--last
      
      